name: Publish CUE Module

on:
  push:
    branches: [main]
    paths-ignore:
      - "**/*.md"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: get-version
        name: Compute next version based on previous tag in commit history
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ github.token }}
          branch: main
          noVersionBumpBehavior: patch

      - name: Install CUE
        uses: cue-lang/setup-cue@v1.0.1

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish CUE module
        env:
          CUE_REGISTRY: ghcr.io/emillamm
        run: |
          cue mod publish "v${{ steps.get-version.outputs.nextStrict }}"

      - name: Create tag
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/v${{ steps.get-version.outputs.nextStrict }}",
              sha: context.sha
            })
